<div class="change-pwd-page">
  <mat-icon class="icon-back"
            svgIcon="icon-close"
            (click)="closePopup()"></mat-icon>
  <div class="form-change-pwd">
    <form [formGroup]="changePasswordForm"
          novalidate>
      <div class="image-change-pwd">
        <mat-icon svgIcon="logo"></mat-icon>
      </div>
      <div class="title">
        <span class="txt-change-pwd">{{
          "screen.change-password.title" | translate
          }}</span>
      </div>
      <div class="group-ip-password">
        <mat-form-field class="group-password">
          <mat-icon svgIcon="icon-password"
                    matPrefix></mat-icon>
          <input matInput
                 placeholder="{{
              'screen.change-password.placeholder-password-old' | translate
            }}"
                 class="ip-new-password"
                 autocomplete="off"
                 formControlName="passwordOld"
                 [type]="showCurrentPassword ? 'text' : 'password'"
                 matTooltip="{{
              (changePasswordForm.get('passwordOld')?.status !== 'VALID' &&
              changePasswordForm.get('passwordOld')?.touched
                ? utils.getMessError(
                    changePasswordForm.get('passwordOld')?.errors
                  )
                : '' ) | translate
            }}"
                 matTooltipClass="{{
              changePasswordForm.get('passwordOld')?.status !== 'VALID' &&
              changePasswordForm.get('passwordOld')?.touched
                ? 'example-tooltip-red'
                : ''
            }}" />
          <mat-icon matSuffix
                    class="icon-hidden-password"
                    [svgIcon]="
              showCurrentPassword ? 'icon-hidden-password' : 'icon-show-password'
            "
                    (click)="togglePassWord('old')"></mat-icon>
        </mat-form-field>
        <mat-form-field class="group-password">
          <mat-icon svgIcon="icon-password"
                    matPrefix></mat-icon>
          <input matInput
                 placeholder="{{
              'screen.change-password.placeholder-password' | translate
            }}"
                 class="ip-new-password"
                 autocomplete="off"
                 formControlName="passwordNew"
                 [type]="showNewPassword ? 'text' : 'password'"
                 matTooltip="{{
              (changePasswordForm.get('passwordNew')?.status !== 'VALID' &&
              changePasswordForm.get('passwordNew')?.touched
                ? utils.getMessError(
                    changePasswordForm.get('passwordNew')?.errors
                  )
                : '' ) | translate
            }}"
                 matTooltipClass="{{
              changePasswordForm.get('passwordNew')?.status !== 'VALID' &&
              changePasswordForm.get('passwordNew')?.touched
                ? 'example-tooltip-red'
                : ''
            }}" />
          <mat-icon matSuffix
                    class="icon-hidden-password"
                    [svgIcon]="
              showNewPassword ? 'icon-hidden-password' : 'icon-show-password'
            "
                    (click)="togglePassWord('new')"></mat-icon>
        </mat-form-field>
        <mat-form-field class="group-password">
          <mat-icon svgIcon="icon-password"
                    matPrefix></mat-icon>
          <input matInput
                 autocomplete="off"
                 placeholder="{{
              'screen.change-password.placeholder-confirm-password' | translate
            }}"
                 formControlName="passwordConfirm"
                 class="ip-confirm-password"
                 [type]="showConfirmPassword ? 'text' : 'password'"
                 matTooltip="{{
              (changePasswordForm.get('passwordConfirm')?.status !== 'VALID' &&
              changePasswordForm.get('passwordConfirm')?.touched
                ? utils.getMessError(
                    changePasswordForm.get('passwordConfirm')?.errors
                  )
                : '' ) | translate
            }}"
                 matTooltipClass="{{
              changePasswordForm.get('passwordConfirm')?.status !== 'VALID' &&
              changePasswordForm.get('passwordConfirm')?.touched
                ? 'example-tooltip-red'
                : ''
            }}" />
          <mat-icon matSuffix
                    class="icon-hidden-password"
                    [svgIcon]="
              showConfirmPassword
                ? 'icon-hidden-password'
                : 'icon-show-password'
            "
                    (click)="togglePassWord('confirm')"></mat-icon>
        </mat-form-field>
      </div>
      <div class="note-container">
        <span class="note">{{
          "screen.change-password.note" | translate
          }}</span>
        <span class="note">{{
          "screen.change-password.note2" | translate
          }}</span>
      </div>
      <div>
        <button mat-raised-button
                color="primary"
                class="btn-change-password"
                [disabled]="changePasswordForm.invalid || !changePasswordForm.dirty"
                (click)="submitForm()">
          {{ "common.button.keep" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
