@import 'src/styles/styles-variables.scss';
$letter-spacing: 0.014em;

.change-pwd-page {
  padding-top: 30px;
  width: 100%;
  background: $white;
  box-shadow: 0px 2px 16px rgba(53, 116, 177, 0.2);
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.title {
  margin-top: 16px;

  .txt-change-pwd {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.014em;
    color: $fiord;
  }
}

.icon-back {
  // float: left;
  height: 16px;
  width: 10px;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 31px;
}

.form-change-pwd {
  width: 448px;
  margin: 0 auto;
}

.image-change-pwd .mat-icon {
  height: 48px;
  width: 48px;
}

.group-ip-password {
  display: flex;
  gap: 22px;
  flex-direction: column;
  margin-top: 20px;
}

.note-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .note {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #9F9F9F;
    text-align: start;
  }
}



.change-pwd-page input:-webkit-autofill {
  box-shadow: 0 0 0 1000px $white3s inset !important;
}

::ng-deep .change-pwd-page .mat-dialog-container {
  padding: 0;
  overflow: hidden !important;
}

.group-ip-password .mat-icon {
  width: 18px;
  height: 18px;
}

::ng-deep .change-pwd-page .mat-raised-button {
  line-height: 1.5;
}

::ng-deep .group-ip-password .mat-form-field {
  width: 100%;

  mat-error {
    color: $flamingo;
  }
}

::ng-deep .group-ip-password .mat-form-field-appearance-outline .mat-form-field-infix {
  display: flex;
  align-items: center;
  border-top: 0;
  padding: 0.725em 0 0.5em !important;
}

::ng-deep .group-ip-password .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  top: 40px;
  padding: 0;
}

::ng-deep .group-ip-password .mat-form-field-suffix .mat-icon {
  line-height: 0;
}

::ng-deep .group-ip-password .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

::ng-deep .group-ip-password .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 4px 16px;
}

.btn-change-password {
  margin-top: 22px;
  padding: 10px 20px;
  width: 120px;
  height: 40px;
  margin-bottom: 40px;
}

.change-pwd-page button:disabled {
  background: $sail;

  .mat-button-wrapper {
    color: $white;
  }
}

::ng-deep .change-pwd-page button:disabled  {
  background: $color-primary;
  .mat-button-wrapper {
    color: $white;
  }
}

.ip-new-password,
.ip-confirm-password {
  padding-left: 16px;
}
