@import "../../../../styles/styles-variables.scss";
$letter-spacing: 0.014em;

.login-page {
  padding-top: 40px;
  width: 530px;
  background: $white;
  box-shadow: 0px 2px 16px rgba(53, 116, 177, 0.2);
  border-radius: 8px;
  text-align: center;

  .title {
    margin-top: 16px;
    font-weight: 700;
  }

  .form-login {
    width: 448px;
    margin: 0 auto;
  }

  .image-login .mat-icon {
    height: 48px;
    width: 48px;
  }

  .group-ip-user {
    margin-top: 40px;
  }

  .forgot-password {
    margin: 20px 0 15px 0px;
  }

  .forgot-password {
    text-align: right;

    .forgot-pwd {
      color: $nobel;
      font-size: 10px;
      letter-spacing: $letter-spacing;
      margin: 0;
      cursor: pointer;
      color: $color-primary;
    }
  }

  .group-password {
    margin-top: 27px;
  }

  .btn-login {
    padding: 9px 20px;
    width: 100%;
    margin: 0 auto 40px auto;
    // margin-top: 20px;
    // margin-bottom: 40px;
    width: 120px;
    height: 40px;
  }

  .ip-username,
  .ip-password {
    padding-left: 16px;
  }
}

.login-page button:disabled {
  background: $sail;

  .mat-button-wrapper {
    color: $white;
  }
}

::ng-deep .login-page button:disabled {
  background: $color-primary;

  .mat-button-wrapper {
    color: $white;
  }
}



.login-page input:-webkit-autofill {
  box-shadow: 0 0 0 1000px $white3s inset !important;
}

::ng-deep .login-page .mat-raised-button {
  line-height: 1.5;
}

::ng-deep .group-ip-user .mat-form-field {
  width: 100%;
}

::ng-deep .login-page .mat-raised-button {
  line-height: 1.5;
}

::ng-deep .group-ip-user .mat-form-field-appearance-outline .mat-form-field-infix {
  display: flex;
  align-items: center;
  padding: 0 !important;
  border-top: 0;
}

::ng-deep .group-ip-user .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  top: 45px;
  padding: 0;
}

::ng-deep .group-ip-user .mat-form-field-suffix .mat-icon {
  line-height: 0;
}

::ng-deep .group-ip-user .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

::ng-deep .group-ip-user .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon {
  display: flex;
}

::ng-deep .group-ip-user .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 12px 16px;
  margin-top: 0;
}

::ng-deep .group-ip-user .mat-icon {
  height: 18px;
  width: 15px;
}
