@import "src/styles/styles-variables.scss";

::ng-deep app-dialog-information {
  position: relative;

  .title-background {
    position: absolute;
    top: -16px;
    left: 0px;

    span {
      color: $white;
    }
  }
}

.mat-info {
  background-color: $primary;
}

.mat-error {
  background-color: $errorRed;
}

.mat-success {
  background-color: $successGreen;
}

.mat-toolbar {
  max-height: 35px;
  margin: -24px;
  margin-bottom: 0;
  width: auto;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  mat-icon {
    width: 10px;
  }

  mat-icon:hover {
    cursor: pointer;
  }
}

.mat-dialog-content {
  margin: 0 -24px;
  padding: 0 !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  min-width: 400px !important;
}


div.btn-dialog-actions {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 28px 0 17px;

  >div {
    width: 100%;
  }

  .title {
    font-weight: bold;
    margin-bottom: 0;
  }

  .content {
    color: #838280;
    margin-top: 15px;
    flex-direction: column;
    font: normal 15px Roboto;
  }

  .content-line {
    line-height: 25px;
  }
}